
<div class="aligncenter">
    <h3 class="text-color-blue"><i class="fas fa-book-reader"></i> Team Connection Tool</h3>
    <div class="section">
        <p class="lead"><i>Create public and private stories from Team Connection Tool and used to store and share various types of information, like project requirements, meeting notes and more.</i></p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <a href="/auth/google" class="btn pinkbg">
            <i class="fab fa-google left"></i> Log In With Google
        </a>
    </div>
</div>